<!-- /templates/customers/register.liquid -->
{{ 'style.create-customer.css' | asset_url | stylesheet_tag }}
<div class="create-customer__container">
    <div class="create-customer__container--inner">
        <h3 class="heading--tertiary create-customer__heading">Create an account</h3>
        {% form 'create_customer' %}
            {{ form.errors | default_errors }}
            <div class="create-customer__name">
                <div class="name__first-name">
                    <label class="p--secondary " for="first_name">First Name</label>
                    <div class="form__input-container">
                        <input class="form__input" type="text" value="" name="customer[first_name]" placeholder="Andy" required />
                    </div>
                </div>
                <div class="name__last-name">
                    <label class="p--secondary " for="last_name">Last Name</label>
                    <div class="form__input-container">
                        <input class="form__input" type="text" value="" name="customer[last_name]" placeholder="Smith" required/>
                    </div>
                </div>
            </div>
            

            <label class=" p--secondary" for="email">Email Address</label>
            <div class="form__input-container">
                <input class="form__input" type="email" value="" name="customer[email]" placeholder="andy@avexdesigns.com" required />
            </div>

            <label class=" p--secondary" for="password">Password</label>
            <div class="form__input-container">
                <input class="form__input" type="password" value="" name="customer[password]" placeholder="• • • • • • • •" required />
            </div>

            <input class="form__input-submit" type="submit" value="Create an account" />

        {% endform %}
        <div class="redirect">
            <p class="p--secondary mb--md mt--md">Already have an account</p>
            <a class="btn--secondary redirect--btn" href="{{routes.account_login_url}}">log in</a>
        </div>
    </div>
</div>

