{{ 'style.cart.css' | asset_url | stylesheet_tag }}
<div class="side-cart-modal">
</div>
<div class="side-cart">
    <div class="cart__header">
        <h3 class="cart__heading">My cart</h3>
        {% render 'icon-exit', className:'icon-exit' %}
    </div>
    <div class="side-cart__items">
        
    </div>
    <div class="side-cart__bottom">
        <div class="side-cart__subtotal mb--sm">
            <h4 class="heading--quaternary">Subtotal</h4>
            <p class="heading--quaternary side-cart__total-price"></p>
        </div>
        <p class="p--primary mb--sm">Tax and shipping calculates at checkout.</p>
        <p class="p--primary mb--md"> <img src="https://cdn.shopify.com/s/files/1/0611/1834/9495/files/icon-affirm.png?v=1664353024" class="side-cart__icon"></img> pay as low as 56/mo</p>
        <a href="{{shop.url}}/cart/checkout" class="side-cart__cta">continue to checkout</a>
    </div>
</div>

