:root{
    --color-primary-1: #000000;
    --color-primary-2: #ffffff;
    --color-primary-3: #c2a578;
    --color-secondary-1: #767676;
    --color-secondary-2: #c4c4c4;
    --color-secondary-3: #f8f8f8;
    --color-secondary-4: #fbfbfb;
    --color-functional-1: #da0000;
    --color-functional-2: #6fcf97;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

@media only screen and (min-width:1920px) {
    .container {
        width: 1920px;
        margin: 0 auto;
    }  
}



@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src:  url('font.oswald-v49-latin_cyrillic-200.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-200.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-200.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src:  url('font.oswald-v49-latin_cyrillic-300.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-300.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src:  url('font.oswald-v49-latin_cyrillic-500.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-500.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-500.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    src:  url('font.oswald-v49-latin_cyrillic-600.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-600.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-600.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src:  url('font.oswald-v49-latin_cyrillic-700.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-700.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-700.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src:  url('font.oswald-v49-latin_cyrillic-regular.woff2') format('woff2'),
          url('font.oswald-v49-latin_cyrillic-regular.woff') format('woff'),
          url('font.oswald-v49-latin_cyrillic-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src:  url('font.open-sans-v34-latin-300.woff2') format('woff2'),
          url('font.open-sans-v34-latin-300.woff') format('woff'),
          url('font.open-sans-v34-latin-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src:  url('font.open-sans-v34-latin-500.woff2') format('woff2'),
          url('font.open-sans-v34-latin-500.woff') format('woff'),
          url('font.open-sans-v34-latin-500.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src:  url('font.open-sans-v34-latin-600.woff2') format('woff2'),
        url('font.open-sans-v34-latin-600.woff') format('woff'),
        url('font.open-sans-v34-latin-600.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:  url('font.open-sans-v34-latin-700.woff2') format('woff2'),
          url('font.open-sans-v34-latin-700.woff') format('woff'),
          url('font.open-sans-v34-latin-700.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src:  url('font.open-sans-v34-latin-800.woff2') format('woff2'),
          url('font.open-sans-v34-latin-800.woff') format('woff'),
          url('font.open-sans-v34-latin-800.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:  url('font.open-sans-v34-latin-regular.woff2') format('woff2'),
          url('font.open-sans-v34-latin-regular.woff') format('woff'),
          url('font.open-sans-v34-latin-regular.ttf') format('truetype');
}