.banner-img{
    width: 100%;
    display: grid;
    grid-template-columns: 57% 43%;
}
.banner-img__right{
    grid-column: 1/2;
}
.banner-img__left{
    grid-column: 2/3;
}
.right__img{
    width: 100%;
}
.right__left{
    width: 100%;
}
.left__img-container{
    width: 100%;
    padding: 8rem 8.6rem 0 6.5rem;
    margin-bottom: 4rem;
}
.left__content{
    padding: 0 8.6rem 0 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-primary-1);
}
.left__img{
    width: 100%;
}
.banner-img__title{
    margin-bottom: 1.5rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.banner-img__cta-container{
    height: 1.7rem;
}
.banner-img__cta{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom:0.8rem;
    border-bottom: 1px solid #000000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.banner-img__cta:hover{
    padding-bottom: 0.2rem;
}
.left__content-p{
    color: #8f8f8f;
}
.left__content-tablet{
    display: none;
}

@media screen and (max-width:1100px) {
    .left__img-container{
        width: 100%;
        padding: 4.4rem 2.4rem 0 3.5rem;
        margin-bottom: 4rem;
    }
    .left__content{
        display: none;
    } 
    .left__content-tablet{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--color-primary-1);
        padding: 4rem 0 0 2rem;
    }   
}

@media screen and (max-width:600px) {
    .left__img-container{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 1.6rem;
        width: 100%;
        height: 100%;
    }
    .left__content-tablet{
        grid-column: 1/3;
    }
}